# individual assignment 1task 1

sivathorn siralert

In [1]:
import pandas as pd
import numpy as np

In [2]:
#creating the pandas dataframe

# colHeader = ["CustomerID" , "Age" , "Gender" , 
#             "Tenure" , "Usage Frequency" , "Support Calls" , 
#             "Payment Delay" , "Subscription Type" , "Contract Length" , 
#             "Total Spend" , "Last Interaction" , "Churn"]

testingData = pd.read_csv("customer_churn_dataset-testing-master.csv")
print("Number of samples: %d" %len(testingData))
trainingData = pd.read_csv("customer_churn_dataset-training-master.csv")
print("Number of samples: %d" %len(trainingData))
finalData = pd.concat([testingData , trainingData] , ignore_index = True)
finalData.sort_values(by=["CustomerID"])


#ask if order of concat matters, and what to do for duplicate cust id

Number of samples: 64374
Number of samples: 440833

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1.0,22.0,Female,25.0,14.0,4.0,27.0,Basic,Monthly,598.00,9.0,1.0
64374,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,2.0,41.0,Female,28.0,28.0,7.0,13.0,Standard,Monthly,584.00,20.0,0.0
2,3.0,47.0,Male,27.0,10.0,2.0,29.0,Premium,Annual,757.00,21.0,0.0
64375,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
505203,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
505204,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
505205,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
505206,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0
263669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
#dealing with missing values

finalData.dropna()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,1.0,22.0,Female,25.0,14.0,4.0,27.0,Basic,Monthly,598.00,9.0,1.0
1,2.0,41.0,Female,28.0,28.0,7.0,13.0,Standard,Monthly,584.00,20.0,0.0
2,3.0,47.0,Male,27.0,10.0,2.0,29.0,Premium,Annual,757.00,21.0,0.0
3,4.0,35.0,Male,9.0,12.0,5.0,17.0,Premium,Quarterly,232.00,18.0,0.0
4,5.0,53.0,Female,58.0,24.0,9.0,2.0,Standard,Annual,533.00,18.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
505202,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
505203,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
505204,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
505205,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
505206,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

# step 3

In [4]:
mean = finalData["Last Interaction"].mean()
print(mean)
std = finalData["Last Interaction"].std()
print(std)
finalData["Last Interaction Normalized"] = (finalData["Last Interaction"] - mean) / std

mean_normalized = finalData["Last Interaction Normalized"].mean()
variance_normalized = finalData["Last Interaction Normalized"].var()

print("Mean of normalized values:", mean_normalized)
print("Variance of normalized values:", variance_normalized)

14.610580634434271
8.60828644879487
Mean of normalized values: -7.561030050011874e-17
Variance of normalized values: 1.0000000000006968

# step 4

In [5]:
finalData['Total Spend'].head()

0    598.0
1    584.0
2    757.0
3    232.0
4    533.0
Name: Total Spend, dtype: float64

In [6]:
finalData['Binned Total Spend'] = pd.qcut(finalData['Total Spend'] , 5 , labels = range(1,6))
finalData['Binned Total Spend'].head()

0    3
1    3
2    4
3    1
4    2
Name: Binned Total Spend, dtype: category
Categories (5, int64): [1 < 2 < 3 < 4 < 5]

In [7]:
finalData['Binned Total Spend'].value_counts()

1    101271
4    101223
3    101069
2    100822
5    100821
Name: Binned Total Spend, dtype: int64

# step 5

In [8]:
finalData['Contract Length'].unique()

array(['Monthly', 'Annual', 'Quarterly', nan], dtype=object)

In [9]:
# dummy = pd.get_dummies(finalData , prefix = 'CL' , columns = ['Contract Length'])
dummy = pd.get_dummies(finalData['Contract Length'])
dummy.head()

   Annual  Monthly  Quarterly
0       0        1          0
1       0        1          0
2       1        0          0
3       0        0          1
4       1        0          0

In [10]:
newData = finalData.join(dummy)
newData.head

<bound method NDFrame.head of         CustomerID   Age  Gender  Tenure  Usage Frequency  Support Calls  \
0              1.0  22.0  Female    25.0             14.0            4.0
1              2.0  41.0  Female    28.0             28.0            7.0
2              3.0  47.0    Male    27.0             10.0            2.0
3              4.0  35.0    Male     9.0             12.0            5.0
4              5.0  53.0  Female    58.0             24.0            9.0
...            ...   ...     ...     ...              ...            ...
505202    449995.0  42.0    Male    54.0             15.0            1.0
505203    449996.0  25.0  Female     8.0             13.0            1.0
505204    449997.0  26.0    Male    35.0             27.0            1.0
505205    449998.0  28.0    Male    55.0             14.0            2.0
505206    449999.0  31.0    Male    48.0             20.0            1.0

        Payment Delay Subscription Type Contract Length  Total Spend  \
0                27.0             Basic         Monthly       598.00
1                13.0          Standard         Monthly       584.00
2                29.0           Premium          Annual       757.00
3                17.0           Premium       Quarterly       232.00
4                 2.0          Standard          Annual       533.00
...               ...               ...             ...          ...
505202            3.0           Premium          Annual       716.38
505203           20.0           Premium          Annual       745.38
505204            5.0          Standard       Quarterly       977.31
505205            0.0          Standard       Quarterly       602.55
505206           14.0           Premium       Quarterly       567.77

        Last Interaction  Churn  Last Interaction Normalized  \
0                    9.0    1.0                    -0.651765
1                   20.0    0.0                     0.626073
2                   21.0    0.0                     0.742241
3                   18.0    0.0                     0.393739
4                   18.0    0.0                     0.393739
...                  ...    ...                          ...
505202               8.0    0.0                    -0.767932
505203               2.0    0.0                    -1.464935
505204               9.0    0.0                    -0.651765
505205               2.0    0.0                    -1.464935
505206              21.0    0.0                     0.742241

       Binned Total Spend  Annual  Monthly  Quarterly
0                       3       0        1          0
1                       3       0        1          0
2                       4       1        0          0
3                       1       0        0          1
4                       2       1        0          0
...                   ...     ...      ...        ...
505202                  3       1        0          0
505203                  4       1        0          0
505204                  5       0        0          1
505205                  3       0        0          1
505206                  2       0        0          1

[505207 rows x 17 columns]>

In [11]:
newData = newData.drop(columns = 'Contract Length')
newData

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Total Spend,Last Interaction,Churn,Last Interaction Normalized,Binned Total Spend,Annual,Monthly,Quarterly
0,1.0,22.0,Female,25.0,14.0,4.0,27.0,Basic,598.00,9.0,1.0,-0.651765,3,0,1,0
1,2.0,41.0,Female,28.0,28.0,7.0,13.0,Standard,584.00,20.0,0.0,0.626073,3,0,1,0
2,3.0,47.0,Male,27.0,10.0,2.0,29.0,Premium,757.00,21.0,0.0,0.742241,4,1,0,0
3,4.0,35.0,Male,9.0,12.0,5.0,17.0,Premium,232.00,18.0,0.0,0.393739,1,0,0,1
4,5.0,53.0,Female,58.0,24.0,9.0,2.0,Standard,533.00,18.0,0.0,0.393739,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505202,449995.0,42.0,Male,54.0,15.0,1.0,3.0,Premium,716.38,8.0,0.0,-0.767932,3,1,0,0
505203,449996.0,25.0,Female,8.0,13.0,1.0,20.0,Premium,745.38,2.0,0.0,-1.464935,4,1,0,0
505204,449997.0,26.0,Male,35.0,27.0,1.0,5.0,Standard,977.31,9.0,0.0,-0.651765,5,0,0,1
505205,449998.0,28.0,Male,55.0,14.0,2.0,0.0,Standard,602.55,2.0,0.0,-1.464935,3,0,0,1
505206,449999.0,31.0,Male,48.0,20.0,1.0,14.0,Premium,567.77,21.0,0.0,0.742241,2,0,0,1

# step 6

In [13]:
print('age range:',newData.Age.min() , '-' , newData.Age.max())

newData['Age Status'] = pd.cut(newData['Age'], [0, 18, 35, 55, 999], labels=['underage' , 'young adult' , 'middle-aged adult' , 'elderly'])

newData['Age Status']

#i chose to create the attribute called age status so that we can perform analysis on purchases based on the age state of a customer. 
#with this, we will be able to better plan packages catered to certain age groups ad their needs and consumption behaviouor.

age range: 18.0 - 65.0

0               young adult
1         middle-aged adult
2         middle-aged adult
3               young adult
4         middle-aged adult
                ...
505202    middle-aged adult
505203          young adult
505204          young adult
505205          young adult
505206          young adult
Name: Age Status, Length: 505207, dtype: category
Categories (4, object): ['underage' < 'young adult' < 'middle-aged adult' < 'elderly']